<section
  class="l-body l-body--full-width mat-elevation-z0"
  *ngIf="paginator$ | async as paginator"
>
  <header class="page-header">
    <h1 class="mat-display-1">Uptime Monitors</h1>
    <a
      id="add-monitor"
      mat-stroked-button
      color="primary"
      [routerLink]="['new']"
    >
      <mat-icon>add</mat-icon>
      Add monitor
    </a>
  </header>
  <div *ngIf="monitors$ | async as monitors" class="wrapper">
    <ng-container *ngIf="monitors.length > 0">
      <table mat-table [dataSource]="monitors$" class="mat-elevation-z2">
        <ng-container matColumnDef="statusColor">
          <td
            mat-cell
            *matCellDef="let monitor"
            class="status-color status-color--{{ monitor.isUp }}"
          ></td>
        </ng-container>
        <ng-container matColumnDef="name-and-url">
          <td mat-cell *matCellDef="let monitor">
            <div class="name-and-url">
              <div (mouseover)="checkIfTooltipIsNecessary($event)">
                <a
                  [matTooltip]="monitor.name"
                  matTooltipPosition="above"
                  [matTooltipDisabled]="tooltipDisabled"
                  [routerLink]="[monitor.id]"
                  >{{ monitor.name }}</a
                >
              </div>
              <div (mouseover)="checkIfTooltipIsNecessary($event)">
                <a
                  href="{{ monitor.url }}"
                  target="_blank"
                  class="mat-caption"
                  [matTooltip]="monitor.url"
                  matTooltipPosition="above"
                  [matTooltipDisabled]="tooltipDisabled"
                  >{{ monitor.url }}
                </a>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="check-chart">
          <td mat-cell *matCellDef="let monitor" class="chart-container">
            <div class="monitor-chart">  
            <gt-monitor-chart [data]="monitor.checks"></gt-monitor-chart>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <td mat-cell *matCellDef="let monitor" class="status">
            <span *ngIf="monitor.isUp">Up</span>
            <span *ngIf="monitor.isUp === false">Down</span>
            <ng-container *ngIf="monitor.lastChange">
              {{ monitor.lastChange | timeFor }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="pagination">
          <td
            mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
            class="footer"
          >
            <ng-container *ngIf="(loading$ | async) === false">
              <button
                [routerLink]="[]"
                [queryParams]="paginator.previousPageParams || {}"
                queryParamsHandling="merge"
                mat-button
                [disabled]="paginator.hasPreviousPage === false"
              >
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button
                [routerLink]="[]"
                [queryParams]="paginator.nextPageParams || {}"
                queryParamsHandling="merge"
                mat-button
                [disabled]="paginator.hasNextPage === false"
              >
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </ng-container>
            <div *ngIf="loading$ | async" class="spinner-container">
              <mat-progress-spinner
                [diameter]="33"
                color="primary"
                mode="indeterminate"
              ></mat-progress-spinner>
            </div>
          </td>
        </ng-container>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="monitor-row"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="['pagination']"></tr>
      </table>
    </ng-container>
  </div>
</section>
